
*.xcscheme

*.xcuserstate

AuctionApp.xcodeproj/xcuserdata/Yaron.xcuserdatad/xcschemes/xcschememanagement.plist

Pods/Pods.xcodeproj/xcuserdata/Yaron.xcuserdatad/xcschemes/xcschememanagement.plist

Pods/Pods.xcodeproj/xcuserdata/Amy_Ly.xcuserdatad/xcschemes/xcschememanagement.plist

AuctionApp.xcodeproj/xcuserdata/Amy_Ly.xcuserdatad/
