<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AuctionApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>634C33231A1A7C590002E9AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>634C332D1A1A7C590002E9AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>637EEC4F1A1A6D250091C60B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>637EEC641A1A6D250091C60B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
